
image:
  repository: patrikx3/p3x-redis-ui
  tag: latest
  pullPolicy: Always

license:

replicas: 1

resources: {}
  # requests:
  #   cpu: 100m
  #   memory: 100M
  # limits:
  #   cpu: 200m
  #   memory: 200M

connections: []
# - name:
#   host:
#   port:
#   password:
#   azure: false
#   cluster: false
#   awsElastiCache: false

ingress:
  enabled: false
  annotations: {}
  #   kubernetes.io/ingress.class: nginx
  #   cert-manager.io/cluster-issuer: letsencrypt
  paths: [/]
  hosts: []
  tls: []
  # - hosts: [host]
  #   secretName: host-tls
