<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.1">
<dict>
  <key>com.apple.security.app-sandbox</key>
  <true/>
  <key>com.apple.security.application-groups</key>
  <array>
    <string>3GB3S9SH84.com.patrikx3.redis-ui</string>
  </array>
  <key>com.apple.security.inherit</key>
  <true/>
  <key>com.apple.security.network.client</key>
  <true/>
  <key>com.apple.security.network.server</key>
  <true/>
  <!-- Add other entitlements as needed -->
  <key>ElectronTeamID</key>
  <string>3GB3S9SH84</string>

</dict>
</plist>
